<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />


    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@drawable/ic_logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_logo"
            android:supportsRtl="true"
            android:theme="@style/Theme.MerviTchop">
        <activity
                android:name=".ui.ordersellermanagement.DeliveryManagementActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.home.ForgotActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.myshop.MyFoodActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.myshop.AddFoodActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.feedback.FeedBackActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.order.OrderActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.myshop.MyShopActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.order.OrderDetailActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.home.ProfileActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.cart_placeorder.UpdateAddAddressActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.cart_placeorder.ChangeAddressActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.cart_placeorder.EmptyCartActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.cart_placeorder.ProceedOrderActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.cart_placeorder.CartActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.home.EditProfileActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.home.FindActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.home.LoginActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.home.IntroActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.MerviTchop.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.home.HomeActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" >
        </activity>
        <activity
                android:name=".ui.ordersellermanagement.DetailOfOrderDeliveryManagementActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.productinformation.ProductInfoActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
        <activity
                android:name=".ui.home.ChatDetailActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
        <activity
                android:name=".ui.home.ChatActivity"
                android:windowSoftInputMode="adjustPan"
                android:exported="false" />
    </application>

</manifest>